            <div class="container-fluid padding">
              <a class="anchor" id="connect"></a>
              <div class="row text-center padding">
                <div class="col-12">
                  <h2>Connect</h2>
                </div>
                <div class="col-12 social padding">
                  <a href="https://www.facebook.com/dewoody"><i class="fab fa-facebook"></i></a>
                  <a href="https://twitter.com/jpdewoody"><i class="fab fa-twitter"></i></a>
                  <a href="mailto:jpd@dewoodyoil.com"><i class="fab fa-instagram"></i></a>
                  <a href="mailto:jpd@dewoodyoil.com"><i class="fas fa-at"></i></a>
                  <a href="https://www.linkedin.com/in/josephdewoody/"><i class="fab fa-linkedin"></i></a>
                  <a href="https://github.com/jpd61"><i class="fab fa-github"></i></a>
                  <a href="https://stackoverflow.com/users/12976894/jpd61?tab=profile"><i class="fab fa-stack-overflow"></i></a>
                  <a href="https://angel.co/joseph-dewoody"><i class="fab fa-angellist"></i></a>
                </div>
              </div> 
            </div>