      <div class="container-fluid padding">
        <div class="row padding">
          <div class="col-md-12 col-lg-6">
            <h2>If you build it...</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, laborum sed! Facilis voluptatibus id laboriosam consequuntur optio, maiores maxime fugiat incidunt pariatur exercitationem aperiam provident quasi minus, sapiente qui officiis.</p>
            <br>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
          <div class="col-lg-6">
            <img src="/images/joseph-dewoody.jpg" class="img-fluid">
          </div>
        </div>
      </div>