      <button class="fun" data-toggle="collapse" data-target="#emoji">click for fun</button>
      <div id="emoji" class="collapse">
        <div class="container-fluid padding">
          <div class="row text-center">
            <div class="col-sm-6 col-md-3">
              <img class="gif" src="/images/gif/panda.gif">
            </div>
            <div class="col-sm-6 col-md-3">
              <img class="gif" src="/images/gif/poo.gif">
            </div>
            <div class="col-sm-6 col-md-3">
              <img class="gif" src="/images/gif/unicorn.gif">
            </div>
            <div class="col-sm-6 col-md-3">
              <img class="gif" src="/images/gif/chicken.gif">
            </div>
          </div>
        </div>
      </div>