      <div class="container-fluid">
        <div class="row jumbotron">
          <div class="col-6">
            <p class="lead">Full-stack development</p>
          </div>
          <div class="col-2 d-flex justify-content-end">
            <a href="https://github.com/jpd61/jpd61.github.io"><button type="button" class="btn btn-primary btn-lg"><i class="fab fa-github" id="top-github"></i> site repository</button></a>
          </div>
          <div class="col-2">
            <a href="https://www.linkedin.com/in/josephdewoody/"><button type="button" class="btn btn-outline-secondary btn-lg"><i class="fab fa-linkedin"></i> LinkedIn</button></a>
            </div>
          </div>
        </div>
      </div>