<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <h3 class="navbar-brand"><a href="https://github.com/jpd61"><i class="fas fa-user-astronaut"></i></a> Joseph DeWoody</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                  </li>
                  {{!-- <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li> --}}
                  <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#news">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#connect">Connect</a>
                  </li>
                </ul>
              </div>
        </div>
      </nav>