<div class="container-fluid padding">
        <a class="anchor" id="portfolio"></a>
        <div class="row portfolio text-center">
          <div class="col-12">
            <h1 class="display-4">Portfolio</h1>
          </div>

          <hr>

          <div class="container-fluid padding">
            <div class="row padding">

              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="/images/weatherdashboard.PNG">
                  <div class="card-body">
                    <h6 class="card-title">Weather Dashboard</h6>
                    <a href="https://jpd61.github.io/weather-dashboard/" class="btn btn-outline-secondary">Site</a>
                    <a href="https://github.com/jpd61/weather-dashboard" class="btn btn-outline-secondary"><i class="fab fa-github"></i> Repository</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="/images/workdayscheduler.PNG">
                  <div class="card-body">
                    <h6 class="card-title">Workday Scheduler</h6>
                    <a href="https://jpd61.github.io/work-day-scheduler/" class="btn btn-outline-secondary">Site</a>
                    <a href="https://github.com/jpd61/work-day-scheduler" class="btn btn-outline-secondary"><i class="fab fa-github"></i> Repository</a>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="/images/haveyoureadit.PNG">
                  <div class="card-body">
                    <h6 class="card-title">Have You Read It?</h6>
                    <a href="https://ut-project-1-group-5.github.io/project-1-group-5/" class="btn btn-outline-secondary">Site</a>
                    <a href="https://github.com/UT-Project-1-Group-5/project-1-group-5" class="btn btn-outline-secondary"><i class="fab fa-github"></i> Repository</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- Second row of portfolio websites -->
        <div class="row portfolio text-center">

          <div class="container-fluid padding">
            <div class="row padding">
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="/images/runbuddy.png">
                  <div class="card-body">
                    <h6 class="card-title">Run Buddy</h6>
                    <a href="https://jpd61.github.io/run-buddy/" class="btn btn-outline-secondary">Site</a>
                    <a href="https://github.com/jpd61/run-buddy" class="btn btn-outline-secondary"><i class="fab fa-github"></i> Repository</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="/images/taskinator.PNG">
                  <div class="card-body">
                    <h6 class="card-title">Taskinator</h6>
                    <a href="https://github.com/jpd61/taskinator" class="btn btn-outline-secondary">Site</a>
                    <a href="https://jpd61.github.io/taskinator/" class="btn btn-outline-secondary"><i class="fab fa-github"></i> Repository</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="/images/taskmaster.PNG">
                  <div class="card-body">
                    <h6 class="card-title">Taskmaster Pro</h6>
                    <a href="https://jpd61.github.io/taskmaster-pro/" class="btn btn-outline-secondary">Site</a>
                    <a href="https://github.com/jpd61/taskmaster-pro" class="btn btn-outline-secondary"><i class="fab fa-github"></i> Repository</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <hr class="my-4">

      </div>