      <div class="container-fluid padding">
        <a class="anchor" id="about"></a>
        <div class="row welcome text-center">
          <div class="col-12">
            <h1 class="display-4">Built with ease.</h1>
          </div>
          <hr>
          <div class="col-12">
            <p class="lead">Welcome to my website where I am learning software development and incorporating what I learn into practice</p>
          </div>
        </div>
      </div>