:root {
  --primary-color: rgb(253, 152, 0);
  --secondary-color: rgb(36, 27, 116);
  --tertiary-color: rgb(247, 223, 91);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("./assets/images/header.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 28px;
    color: #eee;
  }
  
  h2 {
    font-size: 24px;
  }

  /* Animated Text */

  svg {
    font: 4em 'Arial';
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.text-position {
  display: inline-block;
  justify-content: left;
  align-items: flex-start;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #fe9901;
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke: #970f01;
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: rgb(247, 223, 91);
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: #fc1c02;
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: #970f01;
animation-delay: -5s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}

  /* Hero Section */

  .hero {
    background-image: url("./assets/images/header.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

/* Headshot - working to make polygon match background */

  .headshot-container {
    margin: 3rem auto;
    padding: 1rem 0 2.4rem;
    max-width: 50rem;
  }

  .headshot {
    width: 12.5rem;
    height: 12.5rem;
    display: inline-block;
	  position: relative;
	  top: 0; bottom: 0; left: 0; right: 0;
	  clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%); /* needs adjusting */
	  transform: scale(1.077);
	  transition: transform 0.3s;
}

.headshot::before { 
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
	transform: scale(1.077);
	transition: transform 0.3s;
}
.headshot:hover::before {
	transform: scale(1.154);
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

/* Bio Section */

.bio-section {
  width: 100%;
  margin: 0 auto;
  background-color: #ff2702;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bio-section h1 {
  color: #fddc57;
  font-weight: bold;
  display: flex;
  text-align: right;
}

.bio-section p {
  color: #fddc57;
  font-weight: bold;

  margin: 0 auto 35px auto;
}
  

  
  
